@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,100&display=swap");
:root {
  --info-color: #fff8f2c5;
}

html,
body {
  min-height: 100%;
  margin: 0;
  color: white;
}
body {
  background: #cb184e;
  background: -webkit-linear-gradient(top left, #cb184e, #171141);
  background: -moz-linear-gradient(top left, #cb184e, #171141);
  background: linear-gradient(to bottom right, #cb184e, #171141);
}
.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
header {
  padding: 15px;
  display: flex;
  align-items: baseline;
}
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  color: white;
}
h1 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.2rem;
}
.quote {
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
}

.infohead {
  display: flex;
  margin-left: 25px;
  /*justify-content: space-between;*/
}
.infohead .icon {
  align-self: center;
  margin-top: 0.7rem;
  margin-left: 0.3rem;
}

textarea {
  width: 100%;
  color: white;
  background-color: #171141;
}
.gridcont {
  padding: 10px;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /*grid-auto-rows: 100px;*/
}
.settings {
  background-color: #cb184e18;
}
.langtab {
  background-color: #17104227;
  max-height:100vh;
  overflow: scroll;
}
h1 {
  color: white;
}
table {
  border-spacing: 1em;
  margin: 1rem auto;
}
td {
  padding: 1rem 1.2rem;
  border-radius: 6px;
  border: 1px solid red;
  background-color: rgb(70, 59, 139, 0.3);
  color: white;
}

td.active {
  background-color: lightpink;
  color: black;
}

.expandableHelp {
  background-color: var(--info-color); /*rgba(252, 143, 243, 0.5);*/
  padding: 20px;
  transition: 0.2s ease-out;
  text-align: left;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-left: 25px;
  margin-right: 25px;
  margin-top: -7px;
  color: black;
}

.expandableHelp.hidden {
  max-height: 0;
  padding: 0;
  overflow: hidden;
}
